.description-text--red{
    color:black;
    text-align: justify;
    font-size: 1rem;
    color: red;
    width:200px;
}

.description-text--green{
    color:black;
    text-align: justify;
    font-size: 1rem;
    color: green;
    width: 200px;
}