.description-text--greyish{
    color:black;
    text-align: justify;
    font-size: 1rem;
    color:rgba(2, 6, 12, 0.6);
    font-family: Arial, Helvetica, sans-serif;
}

.description-text--green{
    color:black;
    text-align: justify;
    font-size: 1rem;
    color: green;
    font-family:Arial, Helvetica, sans-serif;
}